<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41012077226-dab9v2bcjb38muvj6qdk43s8lul8eobs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41012077226-dab9v2bcjb38muvj6qdk43s8lul8eobs</string>
	<key>API_KEY</key>
	<string>AIzaSyByd6qyl-PRZJ99QqP5qP4YLYDgbTI06y0</string>
	<key>GCM_SENDER_ID</key>
	<string>41012077226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jarnama</string>
	<key>PROJECT_ID</key>
	<string>jarnama-7fa58</string>
	<key>STORAGE_BUCKET</key>
	<string>jarnama-7fa58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41012077226:ios:78593ae8343f01781f66d3</string>
</dict>
</plist>